﻿@model WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Login/css")
</head>

<body>
    <div id="content">
        <div class="container-login">
            @using (Html.BeginForm()) {
                @Html.ValidationSummary()
                <h2>Вход в систему</h2>
                <p>
                    <label>Логин:</label>
                    @Html.TextBoxFor(m => m.UserName, new { id = "inputEmail", @class = "form-control", placeholder = "Логин" })
                </p>
                <p>
                    <label>Пароль:</label>
                    @Html.PasswordFor(m => m.Password, new { id = "inputPassword", @class = "form-control", placeholder = "Пароль" })
                </p>
                <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 20px">Войти</button>
            }
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

<script type="text/javascript">
    $('#inputEmail').val('admin');
    $('#inputPassword').val('admin');
</script>

