﻿@model IEnumerable<string>

<h2 style="text-align: center; margin-top: 0; margin-bottom: 35px;"><span class="label label-default">Жанры</span></h2>

@Html.ActionLink("Все", "List", "Book", null, new {
    @class = "btn btn-block btn-default btn-lg" + (ViewBag.SelectedGenre == null ? " btn-primary" : ""),
    style = "font-size: 14px"
})

@foreach (var link in Model) {
    @Html.RouteLink(
    char.ToUpper(link[0]) + link.Substring(1),
    new {
        controller = "Book",
        action = "List",
        genre = link,
        page = 1
    },
    new {
        @class = "btn btn-block btn-default btn-lg" + (link == ViewBag.SelectedGenre ? " btn-primary" : ""),
        style = "font-size: 14px"
    })
}
