﻿@model Domain.Entities.Book

<div class="well">
    <div class="row" style="margin: 10px">
        @if (Model.ImageData != null) {
            <div class="pull-left" style="margin-right: 10px">
                <img class="img-thumbnail" width="110" height="110"
                     src="@Url.Action("GetImage", "Book",
                new { bookId = Model.Id })" />
            </div>
        }
        <h3>
            <strong>@Model.Name</strong>
            <span class="pull-right label label-primary">@Model.Price.ToString("# руб")</span>
        </h3>
        <h4>@Model.Author</h4>
        @using (Html.BeginForm("AddToCart", "Cart")) {
            <div class="pull-right">
                @Html.Hidden("bookId", @Model.Id)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Добавить в корзину
                </button>
            </div>
        }
    </div>

    <span class="lead" style="margin: 10px; font-size: 14px">@Model.Description</span>
</div>

