﻿@using WebUI.Models
@using WebUI.HtmlHelpers
@model BookListViewModel

@{
    ViewBag.Title = "Товары";
}

@using (Html.BeginForm()) {
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group input-group-lg">
                @Html.TextBoxFor(m => m.SearchLine, new { @class = "form-control", placeholder = "Поиск" })
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success" style="font-size: 14px">
                        <span class="glyphicon glyphicon-search"></span> Найти
                    </button>
                </span>
            </div>
        </div>
    </div>
}
<hr />

@foreach (var p in @Model.Books) {
    @Html.Partial("BookSummary", p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action(
    "List", new { page = x, genre = Model.CurrentGenre, name = Model.SearchLine }))
</div>