﻿@model Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "BookStore: форма заказа";
}

<h1><span class="label label-default">Оформление заказа</span></h1>


@using (Html.BeginForm()) {
    @Html.ValidationSummary();
    <h3>Контактные данные</h3>
    <div class="form-group">
        <label>Имя:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Электронная почта:</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Контактный телефон:</label>
        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
    </div>
    <h3>Данные доставки</h3>
    foreach (var property in ViewData.ModelMetadata.Properties) {
        if (property.PropertyName != "Name" &&
            property.PropertyName != "Phone" &&
            property.PropertyName != "Email") {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }

    <div class="text-left">
        <input class="btn btn-primary" type="submit" value="Обработать заказ" />
    </div>
}