﻿.container-login {
    display: block;
    margin: auto;
    width: 400px;
    border-radius: 10px;
    border: 1px solid #c8c8c8;
    background-color: #f6f3f3;
    position: relative;
    padding: 10px 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

    .container-login h2 {
        width: 100%;
        text-align: center;
        font-size: 20px;
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
    }

    .container-login a {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 15px;
        font-family: 'PT Sans', sans-serif;
        color: red;
    }

body {
    background-color: #e2e5e4;
}

#content {
    overflow: auto;
    height: 100%;
    padding: 40px 0px 60px 0px;
}
