﻿@model IEnumerable<Domain.Entities.Book>

@{
    ViewBag.Title = "Админ панель: список товаров";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Список книг</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-right">ID</th>
                <th>Название</th>
                <th>Автор</th>
                <th class="text-right">Цена</th>
                <th class="text-center">Действия</th>
            </tr>
            @foreach (var book in Model.OrderBy(b => b.Id)) {
                <tr>
                    <td class="text-right">@book.Id</td>
                    <td>@Html.ActionLink(book.Name, "EditBook", new { bookId = book.Id })</td>
                    <td>@Html.ActionLink(book.Author, "EditBook", new { bookId = book.Id })</td>
                    <td class="text-right">@book.Price.ToString("# руб")</td>
                    <td class="text-center">
                        @using (Html.BeginForm("DeleteBook", "Admin")) {
                            @Html.Hidden("bookId", book.Id)
                            <input type="submit"
                                   class="btn btn-default btn-xs"
                                   value="Удалить" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Добавить книгу", "CreateBook", null,
            new { @class = "btn btn-default" })
    </div>
</div>
<script type="text/javascript">
    $('#books-tab').addClass('active');
    $('#orders-tab').removeClass('active');
</script>