﻿@using Domain.Entities
@model IEnumerable<Order>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Список заказов</h3>
    </div>
    <div class="panel-body">
        @if (Model.Count() == 0) {
            <p>Заказов нет</p>
        }
        <div class="panel-group">
            @foreach (Order order in Model.OrderBy(o => o.Id)) {
                @Html.Partial("OrderSummary", order)
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#books-tab').removeClass('active');
    $('#orders-tab').addClass('active');
</script>

