﻿@using Domain.Entities
@model Order

@{ string collapse = "collapse" + Model.Id; }

<div class="panel panel-default" style="max-width:650px; margin-bottom:10px">
    <div class="panel-heading">
        <div class="panel-title" style="width:90%; margin-right:0px; display: inline-block;">
            <a data-toggle="collapse" href="#@collapse">Заказ №@Model.Id от @Model.Date</a>
        </div>
        <div style="display: inline-block;">
            @using (Html.BeginForm("DeleteOrder", "Admin")) {
                @Html.Hidden("orderId", Model.Id)
                <input type="submit"
                       class="btn btn-default btn-xs"
                       value="Удалить" />
            }
        </div>
    </div>
    <div id="@collapse" class="panel-collapse collapse">
        @foreach (BookOrder bookOrder in Model.BookOrders) {
            <div class="panel-body" style="padding:0px">
                <table class="table" style="margin-bottom:0px">
                    <tr>
                        <td class="text-left" style="width:30px">@bookOrder.BookId</td>
                        <td class="text-left" style="width:180px">@bookOrder.Book.Name</td>
                        <td class="text-right" style="width:90px">@bookOrder.Book.Price.ToString("# руб.")</td>
                        <td class="text-left" style="width:30px">@bookOrder.BookCount.ToString("x#")</td>
                        <td class="text-left">@bookOrder.TotalValue().ToString("=# руб.")</td>
                    </tr>
                </table>
            </div>
        }
        <div class="panel-footer" style="border-top:1px solid #dddddd"><b>Итого: @Model.TotalValue().ToString("# руб.")</b></div>
        <div class="panel-body" style="padding:5px">
            <span class="glyphicon glyphicon-user" style="margin-right:5px"></span>
            @Model.Name
        </div>
        <div class="panel-body" style="padding:5px">
            <span class="glyphicon glyphicon-envelope" style="margin-right:5px"></span>
            @Model.Email
        </div>
        <div class="panel-body" style="padding:5px">
            <span class="glyphicon glyphicon-earphone" style="margin-right:5px"></span>
            @Model.Phone
        </div>
        <div class="panel-body" style="padding:5px">
            <span class="glyphicon glyphicon-home" style="margin-right:5px"></span>
            @(Model.Country + ", " + Model.City + ", " + Model.Address)
        </div>
    </div>
</div>