﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Login/css")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <div>
        @if (TempData["message"] != null) {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        <div class="navbar-collapse collapse">
            <ul class="nav nav-pills">
                <li id="home-tab">@Html.ActionLink("На главную", "List", "Book", null, null)</li>
                <li id="books-tab">@Html.ActionLink("Товары", "Index", "Admin")</li>
                <li id="orders-tab">@Html.ActionLink("Заказы", "ListOrders", "Admin")</li>
            </ul>
        </div>
        @RenderBody()
    </div>
</body>
</html>