﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation" style="background-color: #428bca">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <img src="~/Images/book.png" width="60" height="60">
                    <a style="color: #ffffff">BookStore - магазин книг</a>
                </div>
            </div>
            <div class="nav navbar-nav navbar-right" style="line-height: 80px">
                <img src="~/Images/cart1.png" width="60" height="60" style="margin-right: 10px">
                @Html.Action("Summary", "Cart")
                @Html.ActionLink("Войти", "Login", "Account", null, new { style = "color: #ffffff; margin-left: 20px; margin-right: 20px" })
            </div>
        </div>
    </div>
    <div class="row panel">
        <div id="categories" class="col-xs-3">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-xs-6">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>